/* h1{
    color: rgb(33, 161, 235);
}
h2{
    color: aquamarine;
}
h1{
    color: aquamarine;
}
p{
    color: cornflowerblue;
}
button{
    color: brown;
    background-color: darkkhaki;
}
body{
    background-color: rgb(200, 255, 25 );
    /* color picker or color palet */
    *{
        
    }
